@use '@angular/material' as mat;

$my-primary-custom: mat.define-palette(
  (
    50: #eae9f5,
    100: #c5c3d6,
    200: #9e9bb8,
    300: #777499,
    400: #504f7a,
    500: #03003d,
    600: #27274b,
    700: #1f1e40,
    800: #171733,
    900: #0b0a20,
    A100: #8886a0,
    A200: #615f87,
    A400: #39386f,
    A700: #24245c,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #ffffff,
      A400: #ffffff,
      A700: #ffffff,
    ),
  ),
  500,
);

$my-accent-custom: mat.define-palette(
  (
    50: #e3f2fd,
    100: #bbdefb,
    200: #90caf9,
    300: #64b5f6,
    400: #42a5f5,
    500: #1976D2,
    600: #1565c0,
    700: #0d47a1,
    800: #0b3e91,
    900: #0a337b,
    A100: #82b1ff,
    A200: #448aff,
    A400: #2979ff,
    A700: #2962ff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  ),
  500,
);

@include mat.core();

$my-primary: $my-primary-custom;
$my-accent: $my-accent-custom;

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);
